#progress {
 width: 500px;   
 border: 1px solid black;
 position: relative;
 padding: 3px;
}

#percent {
 position: absolute;   
 left: 50%;
}

#bar {
 height: 20px;
  background: -webkit-linear-gradient(left,rgb(0, 0, 255), rgb(255,165,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,rgb(0, 0, 255), rgb(255,165,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,rgb(0, 0, 255), rgb(255,165,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,rgb(0, 0, 255), rgb(255,165,0)); /* Standard syntax */
}